<video src="" width="100%" class="hidden" type="video/mp4" controls autoplay></video>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=707155276017425&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="content">

  <div id="fblike">
    <div class="fb-like" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
  </div>

  <div id="source" class="row hidden">
    <label>Source:</label>
    <a href="http://www.npo.nl/live/nederland-1">Nederland 1</a> (Netherlands National Television)
  </div>

  <div id="expiration" class="row">
    <label>Expiration:</label>
    <span></span>
  </div>

  <script>
    var attempts = 0;
    var videoId = window.location.search.substr(3);
    var channel = videoId.substr(0,videoId.indexOf('-'));
    var channelId = parseInt(channel.replace(/.*([0-9]+)/,'$1'),10);
    if(channelId > 3) channelId = 1;
    var timestamp_string = videoId.substr(videoId.indexOf(20));
    var n = timestamp_string.match(/[0-9]+/g);
    var timestamp = new Date(Date.UTC(n[0],parseInt(n[1])-1,n[2],n[3],n[4],n[5]));
    var el = document.querySelector('#expiration span');
    var diff = Math.round(((new Date).getTime() - timestamp.getTime())/1000);
    var diffMinutes = Math.round(diff / 60);
    var expiration = Math.min(90, 120 - diffMinutes);
    if(expiration > 0) {
      var videoEl = document.querySelector("video");
      videoEl.src = "/videos/" + videoId + ".mp4";

      // If the video is not fully read to load just yet, we try again
      videoEl.addEventListener("error", function(e) {
        if(attempts < 4 && e.srcElement.error.code == 4) {
          attempts++;
          setTimeout(function() {
            videoEl.src = "";
            // console.log("Retrying to load the video " + "/videos/" + videoId + ".mp4" + " - attempt "+attempts+"/4");
            videoEl.src = "/videos/" + videoId + ".mp4";
          }, 1000);
        }
      });
      el.textContent = "This video will expire in " + expiration + " minutes";
      document.onreadystatechange = function () {
        if (document.readyState == "interactive") {
          var els = document.querySelectorAll(".hidden");
          for(var i=0;i<els.length;i++) {
            els[i].classList.remove("hidden");
          }
        }
      }
    }
    else { 
      el.textContent = "This video has expired. Follow @ReplayLastGoal to get the latest video of the goal when it happens"
    }
    if(channel!="ned1") {
      var source = document.querySelector('#source a');
      source.href = source.href.replace(1, channelId);
      source.textContent = source.textContent.replace(1, channelId); 
    }
  </script>

  <div id="fairuse" class="row hidden">
    <label>Fair use:</label>
    <span><i>Copyright Disclaimer Under Section 107 of the Copyright Act 1976, allowance is made for "fair use" for purposes such as criticism, comment, news reporting, teaching, scholarship, and research. Fair use is a use permitted by copyright statute that might otherwise be infringing. Non-profit, educational or personal use tips the balance in favor of fair use.</i></span>
  </div>

  <div id="followBtn">
    <a href="https://twitter.com/ReplayLastGoal" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @ReplayLastGoal</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>

  <div class="row hidden">
    <center>
      <i>This is a not for profit <a href="https://github.com/xdamman/ReplayLastGoal">open source project</a>. Hopefully you welcome the positive coverage brought by fair use of your content.</i>
    </center>
  </div>

</div>
